.container {
   max-width: 1000px;
   margin:  0 auto
  
}
.nav__list{
    display: flex;
}
.container_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: greenyellow;
}
.nav__item{
    margin-left: 20px;
    list-style: none;
}
.container_hero{
    display: flex;
    
}
.header{
    background-color: greenyellow;
}
.main{
    background-color: greenyellow;
}
.hero__img{
    margin-right: 100px;
    width: 500px;
  
}
.hero_text{
    font-family: inter;
    font-size: 14;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 8%;
    text-align: left;
}
.hero__btn{
    border-radius: 5px;
    background-color: dimgray;
    width: 100px;
    height: 30px;
}
.video_video{
    width: 650px;
    height: 316px;
    border: 20px solid blue;
}
.container_video{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: darkgrey;
    background-color: greenyellow;
}
.about{
   background-color: greenyellow;
}
.container_about{
    padding: 53px 0 180px;
    background-color: greenyellow;
}
.about_title{
    font-family: inter;
    font-size: 48px;
    font-weight: 400px;
    line-height: 58px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 72px;
    text-align: center;
    background-color: greenyellow;
}
.about_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: greenyellow;
}
.about_text{
    max-width: 438px;
    font-family: inter;
    font-size: 28px;
    font-weight: 400px;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;
}
.gallery__img{
    width: 100%;
    margin-left:5px;
    height: 100%;
}
.gallery__item{
    width: 250px;
    list-style: none;
    height: 250px;
}
.gallery__list{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
}
.footer__img{
    width: 50px;
}
.container_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer{
    background-color: gray;
}

